################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/mobile-privacy-policy-ad-sponsored-apps.html
/DPTechnologyLLCSite.csproj.user
/DPTechnologyLLCSite.csproj
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/HTML5/v16/.suo
/.vs/HTML5/config/applicationhost.config
/.vs/DPTechnologyLLCSite/v16/.suo
/.vs/DPTechnologyLLC/v17/.suo
/.vs/DPTechnologyLLC/v17
/.vs/DPTechnologyLLC/FileContentIndex/read.lock
/.vs/DPTechnologyLLC/FileContentIndex/7cfef82d-2c1a-4de0-beec-621d2f4ebb1f.vsidx
/.vs/DPTechnologyLLC/FileContentIndex
/.vs/DPTechnologyLLC/config/applicationhost.config
/.vs/DPTechnologyLLC/config
/.vs/DPTechnologyLLC
